vendor/
node_modules/
.git
.gitignore
.dockerignore
.env
.env.*
!.env.example
*.log
.DS_Store
storage/logs/*
bootstrap/cache/*
public/hot
.nuxt
dist
.next
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
